div{
    height: 150px;
    width: 150px;
    background-color: green;
    /* transition: 1s; */
    /* transition-duration: 2s;
    transition-delay: 5s; */

    transition: margin-top 2s ease-in 0.2s; 
    margin: 0 auto;
}
div:hover{
    margin-top: 100px;
    /* background-color: black;
    border-radius: 50%;
} */}