#container{
    height:500px;
    width:1000px;
    margin:10px  auto;
    background-color: rgba(127, 234, 255, 0.624);
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /*                              Justify content                     */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
div{
    width:100px;
    height:150px;
    
    color:white;
    
    text-align: center;
    font-size: 40px;

}