
#container{
    height:500px;
    width:1000px;
    margin:10px auto;
    background-color: rgba(127, 234, 255, 0.624);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    align-content: flex-start;
}
#orange{
    /* align self */
    align-self: flex-end;
}
div{
    width:300px ;
    height:50px;
    
    color:white;
    
    text-align: center;
    font-size: 40px;

}