.card{
    width:200px;
    height:200px;
    border: 5px solid black;
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px black;
    opacity: 50%;

    
}
img{
    width:100%;
    height: 120px;
}
.inner{
    padding-bottom:2px;
    text-align: center;
    line-height: 0.5;
    
   
}
.card:hover{
    box-shadow: 5px 5px 8px black;
    transition-duration: 0.5s;
    color: blue;
    opacity: 100%; 
    transform: scale(10px); 
}
